name: pop_pop
description: Flexible and extendable components to build a bubble pop game in Flutter.
version: 1.0.0
homepage: https://github.com/jamieastley/pop_pop

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ">=1.0.4 <3.0.0"

flutter:
