name: pop_pop
description: Flexible and extendable components to build a bubble pop game in Flutter.
version: 2.0.0-dev.1
homepage: https://github.com/jamieastley/pop_pop

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0