name: pop_pop_components_test

on:
  push:
    branches:
      - master
    paths:
      - "packages/pop_pop_components/**"
      - ".github/workflows/**"

  pull_request:
    paths:
      - "packages/pop_pop_components/**"
      - ".github/workflows/**"

jobs:
  test:
    defaults:
      run:
        working-directory: packages/pop_pop_components

    runs-on: macos-11

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '2.8.1'
          channel: "stable"

      - run: flutter pub get
      - run: flutter analyze
      - run: flutter test --coverage
        id: flutterTest

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload golden test failures
        uses: actions/upload-artifact@v6
        if: failure() && steps.flutterTest.outcome == 'failure'
        with:
          name: test-failures
          path: packages/pop_pop_components/test/failures/
