name: pop_pop_components

on:
  push:
    tags:
      - pop_pop_components-v[0-9]+.[0-9]+.[0-9]+*

jobs:
  pub_release:
    defaults:
      run:
        working-directory: packages/pop_pop_components

    runs-on: macos-15

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '2.8.1'
          channel: "stable"

      - run: flutter pub get
      - run: flutter analyze
      - run: flutter test --coverage

      - name: Setup Pub Credentials
        shell: bash
        env:
          PUB_DEV_PUBLISH_ACCESS_TOKEN: ${{ secrets.PUB_DEV_PUBLISH_ACCESS_TOKEN }}
          PUB_DEV_PUBLISH_REFRESH_TOKEN: ${{ secrets.PUB_DEV_PUBLISH_REFRESH_TOKEN }}
          PUB_DEV_PUBLISH_TOKEN_ENDPOINT: ${{ secrets.PUB_DEV_PUBLISH_TOKEN_ENDPOINT }}
          PUB_DEV_PUBLISH_EXPIRATION: ${{ secrets.PUB_DEV_PUBLISH_EXPIRATION }}
        run: |
          sh ../../tools/create_credentials.sh

      - name: Check Publish Warnings
        run: pub publish --dry-run
        id: pubDryRun

      - name: Publish Package
        run: pub publish -f
        if: steps.pubDryRun.outputs.exit_code == 0
        id: pubPublish

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        if: steps.pubPublish.outputs.exit_code == 0
        with:
          generate_release_notes: true
